@charset "UTF-8"

body {
    background-color: aqua;

}


nav#menu {
    display: block;
}

nav#menu ul {
    position: absolute;
    list-style: none;
    text-transform: uppercase;
    top: -10px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #11101060;
}