@charset "UTF-8"

body {
    background-color: aqua;

}

span.sublinhado{
    text-decoration: underline;
}

nav#menu {
    display: block;
}

nav#menu ul {
    position: absolute;
    list-style: none;
    text-transform: uppercase;
}

nav#menu li {

}